<%- include("partials/header") %>       
<div class="row">
    <div class="col-3">
        <div id="chats">
            <nav class="navbar-light bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="navbar-nav flex-column">
                        <li class="list-group-item header">Chats</li>
                        <% usernames.forEach(name=>{ %>
                            <li class="list-group-item"><%=name%></li>
                        <% }) %>                          
                    </ul>                            
                </div>      
            </nav>
        </div>
    </div>                        
    <div class="col-6">
        <div id="chat">
            <h2 id="username"><%=currentUser%></h2>
            <div id="chat-window">
                <div id="output">
                    <% messages.forEach(msg=>{ %>
                        <% if(msg.destination.includes(currentUser)===true){%>
                            <% console.log(currentUser) %>
                            <p><strong><%= msg.author %> : </strong><%= msg.message %></p>
                        <% } %>                        
                    <% }) %>
                </div>
                <div id="feedback"></div>
            </div>
            <input id="handle" type="text" placeholder="To:@name" />
            <input id="message" type="text" placeholder="Message" />
            <button id="send">Send</button>
            <form action="/logout" method="GET">
                <button>Logout</button>
            </form>
        </div>                
    </div>
</div>
<%- include("partials/footer") %>         